.btn-secondary {
margin-bottom: 10px;
}


body {
  font-family: 'Bitter', serif;
}

h1 {
  font-weight: 100;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 2%;
  color: #0da4d3;
}

h1 .divider {
	margin: 0 8px;
    color: #aaa;
}

h1 .sub-headline {
	color: #aaa;
	font-weight: 300;
}

h2 {
  color: #aaa;
  font-weight: 100;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 2%;
}

.filter-header{
  color: #000000;
}


#maprow {
    text-align: center;
}


    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
        width: 100%;
        height: 600px;

        display: inline-block;

    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
/*
    .toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9A9999;
  border-radius: 8px;
  transition: background 0.2s ease;
}
.toggle span {
  position: relative;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}
.toggle span:before {
  content: "";
  position: relative;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(79, 46, 220, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}


.toggle_button:checked + .toggle:before {
  background: #1abc9c;
}

.toggle_button:checked + .toggle span {
  background: #27ae60;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
.toggle_button:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

.center {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 20px);
}

.snap_toggles  {
 margin-bottom: 5%;
}

.days_toggles  {
 margin-bottom: 5%;
 width: 10%;
}

#checkboxarea {
  border-color: green;
} */


/* Toggle styles */

.toggle.ios, .toggle-on.ios, .toggle-off.ios {

    border-color:#BDBDBD;
    margin-top: 1%;
    background-color: #0da4d3;

  }
  .toggle.ios .toggle-handle {
    background-color: white;
    border-color: #BDBDBD;

   }

  .form-check-label {
      color: #aaa;
  }

  .toggle-off {
    background-color: #E0E0E0;
  }

  .toggle-on {

      background-color: #0da4d3;
  }

.btn:hover {
    background-color: #BDBDBD;
}

  .btn-primary:hover {
    color: #fff;
    background-color: #0c99c6;

}

  .row {
    margin-bottom: 1%;
  }

  #market-name-popup {
      font-family: 'Bitter', serif;
      color: #0da4d3;
        font-size: 20px;

  }

  #market-details-popup {

      color: #616161;
      font-weight: bold;


  }

#pop-up-text {
    font-size: 15px;
    font-family: 'Bitter', serif;

}

a {
  color: #aaa;
  text-decoration: none;
}

a:hover {
color: #0da4d3;
text-decoration: none;
}
