.btn-secondary {
margin-bottom: 10px;
}


body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}

h1 .divider {
	margin: 0 8px;
}

h1 .sub-headline {
	color: #888;
	font-weight: 300;
}


#maprow {
    text-align: center;
}


    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
        width: 90%;
        height: 600px;

        display: inline-block;

    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
